<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
     <style>
     
      @import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

        #notice {
          display: none; 
          position: fixed;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: 9999;
          width: 300px;
          padding: 10px;
          background-color: #fff;
          box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
          border: 1px solid #ccc;
        }

        #notice.show {
          display: block; 
          animation: fade 1s ease-out forwards;
        }
        .form input[type="submit"] {
            color: white;
            background: #626262;
            border-radius: 4px;
            padding: 8px 16px;
            font-size: 16px;
            font-weight: bold;
            border: 1px solid white;
        }
        .form {
          border: 1px solid #3E3E3E;
          border-radius: 5px;
          overflow: hidden;
          box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
          margin: 0 10px 10px 0;
          padding: 16px;
        }
    </style>
    <script>
      const notice = document.querySelector('#notice');

      notice.classList.add('show');
      setTimeout(() => {
        notice.classList.remove('show');
      }, 5000);
    </script>
  </head>
  
    <body class="edit">
    <section class="form-edit">
      <p id="notice"><%= flash[:notice] %></p>
        <div class="editing form">
          <header>Edit post</header>
          <%= form_with url: post_path(@post), method: :patch do |f| %>
            <td class="caption"><%= f.text_field :comment, placeholder: "Write a caption..." %><br></td>
            <td class="button"><%= f.submit "Save"%></td>
          <% end %>
        </div>
      </section>
    </body>
</html>